<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^(.*)/$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
    <cors enabled="true" failUnlistedOrigins="true">
      <add origin="*" />
      <add origin="http://localhost" allowCredentials="true" maxAge="120">
        <allowHeaders allowAllRequestedHeaders="true">
          <add header="header1" />
          <add header="header2" />
        </allowHeaders>
        <allowMethods>
          <add method="GET" />
          <add method="HEAD" />
          <add method="PUT" />
          <add method="PATCH" />
          <add method="POST" />
          <add method="DELETE" />
        </allowMethods>
        <exposeHeaders>
          <add header="header1" />
          <add header="header2" />
        </exposeHeaders>
      </add>
      <add origin="https://localhost" allowCredentials="true" maxAge="120">
        <allowHeaders allowAllRequestedHeaders="true">
          <add header="header1" />
          <add header="header2" />
        </allowHeaders>
        <allowMethods>
          <add method="GET" />
          <add method="HEAD" />
          <add method="PUT" />
          <add method="PATCH" />
          <add method="POST" />
          <add method="DELETE" />
        </allowMethods>
        <exposeHeaders>
          <add header="header1" />
          <add header="header2" />
        </exposeHeaders>
      </add>
      <add origin="http://localhost:4200" allowCredentials="true" maxAge="120">
        <allowHeaders allowAllRequestedHeaders="true">
          <add header="header1" />
          <add header="header2" />
        </allowHeaders>
        <allowMethods>
          <add method="GET" />
          <add method="HEAD" />
          <add method="PUT" />
          <add method="PATCH" />
          <add method="POST" />
          <add method="DELETE" />
        </allowMethods>
        <exposeHeaders>
          <add header="header1" />
          <add header="header2" />
        </exposeHeaders>
      </add>
      <add origin="http://localhost:8100" allowCredentials="true" maxAge="120">
        <allowHeaders allowAllRequestedHeaders="true">
          <add header="header1" />
          <add header="header2" />
        </allowHeaders>
        <allowMethods>
          <add method="GET" />
          <add method="HEAD" />
          <add method="PUT" />
          <add method="PATCH" />
          <add method="POST" />
          <add method="DELETE" />
        </allowMethods>
        <exposeHeaders>
          <add header="header1" />
          <add header="header2" />
        </exposeHeaders>
      </add>
      <add origin="http://*.eolis.ci" allowCredentials="true" maxAge="120">
        <allowHeaders allowAllRequestedHeaders="true">
          <add header="header1" />
          <add header="header2" />
        </allowHeaders>
        <allowMethods>
          <add method="GET" />
          <add method="HEAD" />
          <add method="PUT" />
          <add method="PATCH" />
          <add method="POST" />
          <add method="DELETE" />
        </allowMethods>
        <exposeHeaders>
          <add header="header1" />
          <add header="header2" />
        </exposeHeaders>
      </add>
      <add origin="https://*.eolis.ci" allowCredentials="true" maxAge="120">
        <allowHeaders allowAllRequestedHeaders="true">
          <add header="header1" />
          <add header="header2" />
        </allowHeaders>
        <allowMethods>
          <add method="GET" />
          <add method="HEAD" />
          <add method="PUT" />
          <add method="PATCH" />
          <add method="POST" />
          <add method="DELETE" />
        </allowMethods>
        <exposeHeaders>
          <add header="header1" />
          <add header="header2" />
        </exposeHeaders>
      </add>
      <add origin="https://eolis.ci" allowCredentials="true" maxAge="120">
        <allowHeaders allowAllRequestedHeaders="true">
          <add header="header1" />
          <add header="header2" />
        </allowHeaders>
        <allowMethods>
          <add method="GET" />
          <add method="HEAD" />
          <add method="PUT" />
          <add method="PATCH" />
          <add method="POST" />
          <add method="DELETE" />
        </allowMethods>
        <exposeHeaders>
          <add header="header1" />
          <add header="header2" />
        </exposeHeaders>
      </add>
      <add origin="https://*" allowed="false" />
    </cors>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering removeServerHeader="true" />
        </security>
  </system.webServer>
</configuration>
